<div *ngIf="loading" style="height: 300px;" class="uk-flex uk-flex-center uk-flex-middle">
    <mat-spinner></mat-spinner>
</div>

<mat-card *ngIf='!loading'>
    <mat-card-header>
        <mat-card-title>Daftar Tempat</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class='uk-flex'>
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="ProductDetail({},-1)">Tambah Daftar</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>
                <th>No</th>
                <th>Nama Tempat</th>
                <th>Letak</th>
                <th>Penulis</th>
                <th>Harga</th>
                <th align="right"></th>
            </thead>
            <tbody>
                <tr *ngFor="let book of books; let idx=index"> 
                    <td>{{idx+1}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.location}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.price}}</td>
                    <td align="right">
                        <button mat-button color="primary" (click)="ProductDetail(book,idx)">Edit</button>
                        <button mat-button color="accent" (click)="DeleteProduct(book.id, idx)"[disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Menghapus..':'Delete'}}</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>