<ng-container>
    <!--toolbar-->
    <mat-toolbar color="primary" class="example-header">
    <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
    </button>
    <span>Bogorku</span>
    <div class="uk-width-expand"></div>
      <button mat-button routerLink="/login">Logout</button>
    </mat-toolbar>
    <!--end toolbar-->
    
    <mat-sidenav-container class="admin-container">
    <mat-sidenav 
    #sidenav 
    mode="side" 
    [position]="'start'" 
    opened 
    class="sidenav-left"
      [fixedInViewport]="true" 
      [fixedTopGap]="60"
      [fixedBottomGap]="0">
    
      <mat-nav-list >
        <mat-list-item routerLink="/admin/dashboard">
          <mat-icon matListIcon>account_circle</mat-icon>
          <h3 matLine>Profil</h3>
        </mat-list-item>
        <mat-list-item routerLink="/admin/product">
          <mat-icon matListIcon>receipt_long</mat-icon>
          <h3 matLine>Daftar Tempat</h3>
        </mat-list-item>
        <mat-list-item routerLink="/admin/images">
          <mat-icon matListIcon>filter_vintage</mat-icon>
          <h3 matLine>Gambar</h3>
        </mat-list-item>

      </mat-nav-list>

    </mat-sidenav>
    
    <mat-sidenav #sidenav mode="side" 
    [position]="'end'"  
    class="example-sidenav"
    [fixedInViewport]="true" 
    [fixedTopGap]="60"
    [fixedBottomGap]="0">
    
       
    
    </mat-sidenav>
    <!--sidenav content-->
    <mat-sidenav-content style="padding: 20px; background-image:url('assets/tugu1.jpeg'); background-size: cover; background-position: center;">
    <!--halaman-halaman tampil disini-->
    
   
<router-outlet></router-outlet>
    
    
    
    </mat-sidenav-content>
    <!--end sidenav content-->
    </mat-sidenav-container>   
    </ng-container>