<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <img src="./assets/profil.png"width="200">
    </mat-card-header>
    <mat-card-content>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>                
                <th>Nama Lengkap</th>
                <th>Tanggal Lahir</th>
                <th>Usia</th>
                <th>Alamat</th>
                <th align="right"></th>
            </thead>
            <tbody>
                <tr>
                    <td>{{book.name}}</td>
                    <td>{{book.date}}</td>
                    <td>{{book.age}}</td>
                    <td>{{book.address}}</td>
                    <td align="right">
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>